.city-overview {
  display: -moz-inline-grid;
  gap: 1em;
  padding: 2em;
  margin: 2em;
  background: #f7f7f7;
  box-shadow: 0px 2px 5px 1px #7777;
}

.city-overview h2 {
  margin-top: 0;
}

.city-list td,
th {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
}

.addcity-form {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.input {
  padding: 0.25em 0.5em;
  outline: none;
  border-radius: 3px;
  border: 1px solid #aaa;
  font: inherit;
}

.input:focus {
  border-color: #17f;
}

button.input {
  background-color: #17f;
  border-color: #17f;
  color: white;
  cursor: pointer;
}
